/* --- 基础重置 --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #fff;
    color: #111;
    line-height: 1.6;
    overflow-x: hidden;
}

/* --- Header --- */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 10px;
}

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    /* 16:9*/
    min-height: 100vh;
    min-width: 177vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* --- Section --- */
.section {
    padding: 6rem 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section p {
    max-width: 700px;
    margin: auto;
    font-weight: 400;
    line-height: 1.8;
}

/* --- Gallery --- */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.gallery-item img,
.gallery-item video {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.gallery-project-title {
    box-sizing: border-box;
    /*font-family: 'Montserrat';*/
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* --- Button --- */
.btn {
    display: inline-block;
    padding: 20px;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    text-align: center;
    color: #fff;
    background: #111;
    width: 200px;
    cursor: pointer;
    transition: background 0.8s;
}

.btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}


/* --- Footer --- */
footer {
    padding: 2rem 0;
    text-align: center;
    font-weight: 400;
    color: #777;
}

/* --- Folding Menu Button --- */
#menu-button {
    position: fixed;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 100;
}

#menu-button div {
    height: 3px;
    background: #111;
    border-radius: 2px;
}

#menu-button:hover div {
    transform: translateY(-50%) scale(1.2);
    transition: transform 0.3s ease;
}

/* --- Sidebar Menu --- */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    /*box-shadow: 2px 0 10px rgba(0,0,0,0.1);*/
    transition: 0.6s ease;
    z-index: 99;
    display: flex;
    align-items: center;
}

#sidebar ul {
    list-style: none;
    width: 100%;
    padding-left: 2rem;
}

#sidebar ul li {
    margin: 2rem 0;
}

#sidebar ul li a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 1.25rem;
}

#sidebar.show {
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    align-items: center;
    /*justify-content: center;*/

}

.link {
    color: #111;
    font-weight: 600;
    text-decoration: none;
}

.link:hover {
    transform: scale(1.1);
    color: #5C4949;
}